:root {
    --colorone: #AA1F24;
    --colortwo: #E0D7A5;
    --colothree: #d38d8f;
}

a {
    text-decoration: none;
}

.fw {
    font-weight: bold;
}

li {
    list-style: none;
}

.colorone {
    color: var(--colorone);
}

.colortwo {
    color: var(--colortwo);
}

.bgone {
    background-color: var(--colorone);
}

.bgtwo {
    background-color: var(--colortwo);
}

.title {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    color: var(--colorone);
}

.ts {
    text-shadow: 2px 2px 2px rgb(238, 238, 238);
}

input {
    outline: none;
}

.btn {
    color: var(--colortwo) !important;
    background-color: var(--colorone) !important;
    font-weight: bold;
}

.span {
    color: var(--colorone);
    text-shadow: 1px 3px 6px #fff, 0 0 0 #000, 1px 3px 6px #fff;
}

.title-span {
    font-size: 1.2em;
    color: var(--colorone);
    font-weight: bold;
}

.title-text {
    color: var(--colothree);
    text-align: center;
    font-weight: bold;
}

/* header */
.header {
    min-height: 100vh;
    overflow: hidden;
}

.navbar__bg {
    background-color: var(--colorone);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.header-title {
    font-size: 4.5em;
    font-weight: bold;
}

@media (max-width:1200px) {
    .header-title {
        margin-top: 150px;
    }
}

.header__section,
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__btn {
    background-color: var(--colortwo);
    transition: all 500ms;
}

.header__btn:hover {
    transform: translateY(-8px);
    box-shadow: 2px 2px 7px 0px #b1acac;
}

.nav__link {
    position: relative;
}

.nav__link::before {
    content: '';
    position: absolute;
    background-color: var(--colortwo);
    height: 3px;
    right: 5px;
    left: 5px;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 500ms;
    transform-origin: right;
}

.nav__link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.nav__link:hover {
    color: var(--colortwo);
    font-weight: bolder;
}

.header__img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.header__img>div>div>img {
    opacity: 0.7;
    height: 100vh;
}

.t3__container::after,
.t3__container::before {
    content: '';
    position: absolute;
    width: 480px;
    height: 480px;
    border: 7px solid #b4a0d1;
    border-bottom-color: transparent;
    border-radius: 50%;
    z-index: -1;
    animation: rounded 7s infinite linear;
}

@keyframes rounded {
    100% {
        transform: rotate(360deg);
    }
}

/* about-1 */
.about {
    background-image: url(./images/bg1.png);
    background-attachment: fixed;
    background-size: cover;
    background-size: center;
}

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    margin: 50px 0;
}

.about__text {
    display: inline-block;
    color: var(--colorone);
}

.about__title {
    text-shadow: 2px 2px 4px #fff, 4px 4px 4px #fff;
}

.about__rounder {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--colorone);
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms;
}

.about__rounder:hover,
.about__box:hover {
    transform: scale(1.1);
}

.about__box {
    transition: all 300ms;
    cursor: pointer;
}

.about__line {
    display: block;
    width: 3px;
    height: calc(100% + 100px);
    background-color: var(--colorone);
    transform: translate(6px, -7px);
}

/* about-2 */
.cookie__box,
.center__box,
.teacher__box,.poll__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 420px;
}

.cookie__box>li,
.center__box>li,
.teacher__box>li,.poll__box>a {
    min-width: 33.3333%;
    height: 100%;
    border-radius: 9px;
    margin: 0 5px;
    background-position: center;
    background-size: cover;
    transition: all 500ms;
    cursor: pointer;
}


.center__box,
.teacher__box {
    height: 280px;
}

.center__box>li:hover,
.teacher__box>li:hover {
    transform: scale(1.1);
}

.center__box>li:nth-child(3n-2) {
    background-image: url(./images/c1.jpg);
}

.center__box>li:nth-child(3n-1) {
    background-image: url(./images/c2.jpg);
}

.center__box>li:nth-child(3n) {
    background-image: url(./images/c3.jpg);
}

.teacher__box>li:nth-child(5n-4) {
    background-image: url(./images/aa1.jpg);
}

.teacher__box>li:nth-child(5n-3) {
    background-image: url(./images/aa2.jpg);
}

.teacher__box>li:nth-child(5n-2) {
    background-image: url(./images/aa3.jpg);
}

.teacher__box>li:nth-child(5n-1) {
    background-image: url(./images/aa4.jpg);
}

.teacher__box>li:nth-child(5n) {
    background-image: url(./images/aa5.jpg);
}

/* product-1 */
.product-title {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    color: var(--colortwo);
}

.product-1,
.product-2 {
    position: relative;
}

.product-1__bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.product-1__bg>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ppp__imgbox {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.ppp__img1,
.ppp__img2 {
    width: 50%;
    border-radius: 13px;
    transition: all 500ms;
    cursor: pointer;
}

.ppp__img1 {
    position: absolute;
    bottom: -40px;
    right: 50px;
    z-index: 1;
    width: 50%;
}

.ppp__img1:hover {
    transform: scale(1.1);
    z-index: 1;
}

.ppp__img2:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* product-2 */
/* product-3 */
.product-3__box {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-3__box>img {
    transition: all 500ms;
}

.product-3__box:hover>img {
    transform: rotate(-45deg);
}

.cookie__box>li {
    min-width: 33.33333%;
}

.cookie__box>li:nth-child(5n-4) {
    background-image: url(./images/cookie1.jpg);
}

.cookie__box>li:nth-child(5n-3) {
    background-image: url(./images/cookie2.jpg);
}

.cookie__box>li:nth-child(5n-2) {
    background-image: url(./images/cookie3.jpg);
}

.cookie__box>li:nth-child(5n-1) {
    background-image: url(./images/cookie4.jpg);
}

.cookie__box>li:nth-child(5n) {
    background-image: url(./images/cookie5.jpg);
}

/* poll-1 */
.poll__box{
    height: 100px;
}
/* order */
.order__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.order__item {
    position: relative;
    overflow: hidden;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    margin: 50px 0;
    cursor: pointer;
}

.order__img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.order__text {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.563);
    color: #fff;
    top: 73%;
    left: 0;
    transition: all 500ms;
    padding: 10px 20px;

}

.order__item:hover .order__text {
    top: 0;
    background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.order__amount {
    width: 100px;
}

.order__shop {
    border-radius: 13px;
    background-color: var(--colorone);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shop__header,
.shop__footer,
.order__btnbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.shop__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shop__line {
    width: 100px;
    /* margin: auto; */
    background-color: #fff;
    height: 4px;
}

.shop__btn {
    /* background-color: var(--colortwo); */
    border-radius: 9px;
    padding: 6px 17px;
    border: 4px solid var(--colortwo);
    background-color: transparent;
    color: #fff;
}

/* t3 */
.t3__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t3__img {
    width: 60%;

}

.tt3__img {
    position: absolute;
    width: 15%;
    z-index: 1;
    animation: img 2s infinite ease-in-out alternate-reverse;
    top: 0;
    left: 100px;
}

.t3__container>img:nth-child(2) {
    top: 300px;
    left: 180px;
}

.t3__container>img:nth-child(3) {
    top: 48px;
    left: 450px;
    animation-delay: -1.5s;
}

.t3__container>img:nth-child(4) {
    top: 270px;
    left: 400px;
    animation-delay: -3.5s;

}

.t3__container>img:nth-child(5) {
    top: -100px;
    animation-delay: -2s;
    left: 280px;
}

@keyframes img {
    0% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(15%);
    }
}

.t3__container::after {
    width: 400px;
    height: 400px;
}

.t3__container::before {
    width: 320px;
    height: 320px;
    border-color: #ecb0b0;
    border-top-color: transparent;
    animation-direction: reverse;
}

/* poll-1 */
/* poll-2 */
/* poll-3 */
/* classes */
.item__box {
    background-image: url(./images/i6.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.item__container {
    width: 1200px;
    height: 650px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colorone);
    border-radius: 25px;
    position: absolute;
    cursor: pointer;
    width: 33.333%;
    height: 100%;
    padding: 50px 30px;
    transition: all 500ms;
}

@media (max-width:1400px) {
    .item__container {
        width: 1000px;
    }
}

@media (max-width:1200px) {
    .item__container {
        width: 800px;
    }

    .item {
        width: 40%;
    }
}

@media (max-width:992px) {
    .item__container {
        width: 600px;
    }

    .item {
        width: 50%;
        height: 550px;
    }
}

@media (max-width:768px) {
    .item__container {
        width: 480px;
    }

    .item {
        width: 60%;
    }
}

@media (max-width:500px) {
    .item__container {
        width: 350px;
    }
}

.item.active {
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    background-color: var(--colortwo);
}

.next,
.next2,
.prve,
.prve2 {
    z-index: 1;
    transform: scale(0.8);
    color: #fff;
}

.next::after,
.next2::after,
.prve::after,
.prve2::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.278);
    border-radius: 25px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.next>button,
.next2>button,
.prve>button,
.prve2>button {
    background-color: var(--colortwo);
}

.next {
    right: 5%;
}

.next2 {
    right: -100%;
}

.prve {
    left: 5%;
}

.prve2 {
    left: -100%;
}

.item__img {
    width: 80%;
    border: 1px solid #fff;
    box-shadow: 0 0 20px 2px #fff;
    margin: 20px;
}

.nono {
    transition: all none;
}

/* footer */
.top {
    background-color: var(--colorone);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 45px;
    width: 50px;
    height: 50px;
    padding: 10px;
    z-index: 99;
}

.footer__input {
    width: 100%;
    display: block;
    margin: 10px 0;
    border: 3px solid transparent;
    border-bottom-color: var(--colorone);
    background-color: transparent;
}

.footer__btnbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}